<a href="https://colab.research.google.com/github/kunal-geeks/kunal-geeks/blob/main/Python_Session_Number_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 1


### TOPICS TO BE COVERED:
* Python Intro
* Python Srings
* Python Booleans
* Python Operators
    * Arithmetic operators
    * Assignment operators
    * Comparison operators
    * Logical operators
    * Identity operators
    * Membership operators
    * Bitwise operators
* List
* Set
* Tuple
* Dictionary
* While Loops
* For Loops
* List Comprehension
* Dictionary Comprehension

----------

# Why Python for DATA ENGINEERS??

Data engineers use Python for the following tasks:

 *Ingesting Data from different file formats.

 *Data acquisition with the help of various APIs.

 *Data Processing using Python libraries like NumPy, Pandas, etc.

 *Building ETL/ELT Pipelines using DAGs.

# Python Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello"

Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

Hello

## Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Python is a high-level, 
general-purpose programming language."""


b = '''Python is a high-level, 
general-purpose programming language.'''


print(a)

Python is a high-level,
general-purpose programming language.

## Strings are Arrays
Python does not have a character data type, a single character is simply a string with a length of 1.

### INDEXING in strings
Square brackets **'[ ]'** can be used to access elements of the string.

In [ ]:
a = "Hello, World!"
print(a[1])

e

## String Length
To get the length of a string, use the len() function.

In [ ]:
a = "Hello, World!"
print(len(a))

13

## Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

## Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

# INDEX in strings
-6  -5 -4 -3 -2 -1

 P   Y  T  H  O  N
 
 0   1  2  3  4  5

# Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string. 

Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end.

Python slicing can be done in two ways.

* slice() Constructor
* Extending Indexing

### slice() Constructor
The slice() constructor creates a slice object representing the set of indices specified by range(start, stop, step).

Syntax:

slice(stop)

slice(start, stop, step)

Parameters:
* start: Starting index where the slicing of object starts.
* stop: Ending index where the slicing of object stops.
* step: It is an optional argument that determines the increment between each index for slicing.

Return Type: Returns a sliced object containing elements in the given range only.

In [ ]:
String ='PYTHON'
  
# Using slice constructor
s1 = slice(3)
s2 = slice(1, 5, 2) 
  
print(String[s1]) 
print(String[s2])

PYT
YH

### Extending indexing
In Python, indexing syntax can be used as a substitute for the slice object. This is an easy and convenient way to slice a string both syntax wise and execution wise.

Syntax

string[start:end:step]

start, end and step have the same mechanism as slice() constructor.

In [ ]:
String ='PYTHON'
  
# Using indexing sequence
print(String[2:5])
print(String[1:5:2])

THO
YH

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

newList = l[:3]+l[7:]
print(newList)

[1, 2, 3, 8, 9]

# Python - Modify Strings
Python has a set of built-in methods that you can use on strings.

## Upper Case
The upper() method returns the string in upper case:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

## Lower Case
The lower() method returns the string in lower case:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

## Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space. 

The **strip()** method removes any whitespace from the beginning or the end:

In [ ]:
a = "   Hello, World! "
print(a.strip())

Hello, World!

## Replace String
The replace() method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

## Split String
The split() method returns a list where the text between the specified separator becomes the list items.

The split() method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

# Python - String Concatenation
## String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

# Python - Format Strings

## String Format

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

 You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python - Escape Characters
Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
txt = 'We are the so-called "Vikings" from the north.''

SyntaxError: unterminated string literal (detected at line 1) (2252451193.py, line 1)

In [ ]:
#use the escape character \":

In [ ]:
txt = "We are the so-called \"Vikings\" from the north"
print(txt)

We are the so-called "Vikings" from the north

## Escape Characters
Other escape characters used in Python:

![image.png](attachment:image.png)

# Python - String Methods
### String Methods

Python has a set of built-in methods that you can use on strings.

Search for it and practice

_______

# Python Booleans
Booleans represent one of two values: True or False.

## Boolean Values
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

### Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you True or False in return,

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

### Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

### Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

_____

# Python Operators
### Python Operators
Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Python Lists
Lists are used to store multiple items in a single variable.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

### List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

### Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

**Note**: There are some list methods that will change the order, but in general: the order of the items will not change.

### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### List Length
To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### List Items - Data Types
List items can be of any data type:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

print(list4)

['abc', 34, True, 40, 'male']

### The list() Constructor
It is also possible to use the list() constructor when creating a new list.

In [ ]:
thislist = list(("12", "banana", "cherry")) # note the double round-brackets
print(thislist)

['12', 'banana', 'cherry']

## Python - Access List Items
### Access Items
List items are indexed and you can access them by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

**Note**: The search will start at index 2 (included) and end at index 5 (not included).

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

### Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Python - Change List Items
To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

### Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

### Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(-1,"watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Python - Add List Items

### Append Items
To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### Extend List
To append elements from another list to the current list, use the extend() method.

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
x = thislist + tropical
print(x)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Python - Remove List Items

### Remove Specified Item
The remove() method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
print(thislist)

['banana', 'cherry']

### Remove Specified Index
The pop() method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The **del** keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The **del** keyword can also delete the list completely.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

### Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Python - Sort Lists
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

To sort descending, use the keyword argument reverse = True:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

## Python - Join Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by appending all the items from list2 into list1, one by one
Use append function and for loop

Or you can use the extend() method, which purpose is to add elements from one list to another list

## Python - List Methods

![image.png](attachment:image.png)

# Python Tuples
Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

### Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

### Create Tuple With One Item
**IMPORTANT**

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

### The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
thistuple = ("abc",[1,2]) # note the double round-brackets
print(thistuple)

('abc', [1, 2])

## Python - Update Tuples

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

## Python - Unpack Tuples
Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [ ]:
fruits = ("apple", "banana", "cherry")

[green, yellow, red] = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)
print(*red)
print(type(red))

apple
banana
['cherry', 'strawberry', 'raspberry']
cherry strawberry raspberry
<class 'list'>

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Python Sets
Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

**Note**: Set items are unchangeable, but you can remove items and add new items.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

### Duplicates Not Allowed
Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

### The set() Constructor
It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

## Python - Access Set Items

### Access Items

You cannot access items in a set by referring to an index or a key.

## Python - Add Set Items
To add one item to a set use the add() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

### Add Sets
To add items from another set into the current set, use the update() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'banana', 'apple', 'papaya', 'cherry', 'pineapple'}

## Python - Remove Set Items

To remove an item in a set, use the remove(), or the discard() method.

**Note**: If the item to remove does not exist, remove() will raise an error.

**Note**: If the item to remove does not exist, discard() will NOT raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("iiii")

print(thisset)

KeyError: 'iiii'

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("iiii")

print(thisset)

{'banana', 'apple', 'cherry'}

**IMPORTANT**

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.


### The clear() method empties the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The **del** keyword will delete the set completely:

In [ ]:
# thisset = {"apple", "banana", "cherry"}

# del thisset

# print(thisset)

## Python - Join Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another

The **union()** method returns a new set with all items from both sets:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

The **update()** method inserts the items in set2 into set1:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

**Note**: Both union() and update() will exclude any duplicate items.

## Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The **intersection()** method will return a new set, that only contains the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

### Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

The **symmetric_difference()** method will return a new set, that contains only the elements that are NOT present in both sets.

## Set Methods

![image.png](attachment:image.png)

# Python Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Dictionary Items
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

##### Duplicates Not Allowed
Dictionaries cannot have two items with the same key

a dictionary key must be of a type that is immutable. For example, you can use an integer, float, string, or Boolean as a dictionary key. However, neither a list nor another dictionary can serve as a dictionary key

The values in dictionary items can be of any data type

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  ('a','b'): "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{('a', 'b'): 'Ford', 'model': 'Mustang', 'year': 1964}

### Access Dictionary Items
You can access the items of a dictionary by referring to its key name, inside square brackets

There is also a method called get() that will give you the same result


### Get Keys
The keys() method will return a list of all the keys in the dictionary.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()
print(x)
print(list(x)[1])

dict_keys(['brand', 'model', 'year'])
model

### Get Values
The values() method will return a list of all the values in the dictionary.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()
print(type(x))
print(x)

<class 'dict_values'>
dict_values(['Ford', 'Mustang', 1964])

### Get Items
The items() method will return each item in a dictionary, as tuples in a list.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

### Change Dictionary Items

You can change the value of a specific item by referring to its key name
thisdict["year"] = 2018

### Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

thisdict.update({"year": 2020})

### Add Items and Remove Items
Try to search and practice pretty straightforward

## Nested Dictionaries
A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

### Dictionary methods
![image.png](attachment:image.png)

# If-Else

The if statement alone tells us that if a condition is true it will execute a block of statements and if the condition is false it won’t

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

# INDENTATION
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code.

#### elif

#### else

#### Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
if a > b: print("a is greater than b")

#### Short Hand If ... Else

**This technique is known as Ternary Operators, or Conditional Expressions.**

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

# Python While Loops
With the while loop we can execute a set of statements as long as a condition is true.

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

### The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
s = 'growthschool'
# Using for loop 
for letter in s: 
    
    print(letter) 
    # break the loop as soon it sees 'e' 
    # or 's' 
    if letter == 'o' or letter == 't': 
        break
    
print("Out of for loop") 
print()

g
r
o
Out of for loop

### The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
for i in range(1, 11): 
    
    # If i is equals to 6,   
    # continue to next iteration   
    # without printing  
    if i == 6: 
        continue
    else: 
        # otherwise print the value 
        # of i 
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

### The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

The for loop does not require an indexing variable to set beforehand.


### The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

for x in ["apple", "banana", "cherry"]:
    
    pass

### The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

range(start, end, step) : end is not included

### Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Python - List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### Syntax
newlist = [expression for item in iterable if condition == True]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits if x != "apple"]

print(newlist)

['BANANA', 'CHERRY', 'KIWI', 'MANGO']

# Dictionary Comprehension
Dictionary comprehension is an elegant and concise way to create dictionaries.

In [ ]:
square_dict = dict()
for num in range(1, 11):
    square_dict[num] = num*num
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# dictionary comprehension example
square_dict = {num: num*num for num in range(1, 11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Syntax
dictionary = {key: value for vars in iterable}

In [ ]:
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}

dollar_to_pound = 0.76
new_price = {item: value*dollar_to_pound for (item, value) in old_price.items()}
print(new_price)

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

______________